@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --color-font: #111
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

footer {
  background: #eee;
  width: 100%;
  padding: 20px;
  bottom: 0;
  margin-top: 40px;
}

footer p {
  color: #999;
  font-size: 14px;
  text-align: center;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}

/* HEADER */

header {
    padding: 36px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;  
}

.logo {
    width: 90.6px;
    height: 26.9px;
}

.menu {
  margin: auto -100px;
}

.menu a {
    font-size: 16px;
    line-height: 26px;
    color: var(--color-font);
    text-decoration: none;
    font-weight: 400;
    padding-right: 20px;
}

.menu a:hover {
    color: #666;
}

.menu #link {
    font-weight: bold;
}

/* BANNER */

.banner {
    background: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    position: relative;
    display: flex;
    padding: 4%;
}

.banner h1{
    margin-top: 90px;
    font-size: 32px;
    line-height: 42px;
    color: var(--color-font);
    font-weight: bold;
}

.banner p {
    margin-top: 10px;
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    width: 320px;
    height: 258px;
}

.banner img {
    position: absolute;
    bottom: 0;
    right: 90px;   
}

.banner .not-found-hat {
  position: absolute;
  top: 39px;
  right: 125px;
  height: 129px;
}

.banner .not-found {
  position: absolute;
  bottom: 50;
  height: 200px;
}

/* RECIPE LIST */

.most-accessed, .about {
    margin: 40px auto;
    margin-bottom: 10px;
}

.most-accessed h1, .about h1 {
    color: var(--color-font);
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cards {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    border-radius: 15px;
}

.card-image img {
    border-radius: 15px;
    width: 300px;
    height: 140px;
}

.card-title h1 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-font);
}

.card-author p {
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

/* ABOUT */

.about h2 {
    color: var(--color-font);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.about p {
    font-size: 18px;
    color: #444;
    line-height: 28px;
}
