<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
            <header class="navbar">
                <a href="/" id="logo">
                    <img src="/assets/logo.png" alt="Logo Foodfy"></a>
                <nav class="menu">
                    <a href="/about" class="link">Sobre</a>
                    <a href="/recipes" class="link">Receitas</a>
                </nav>
            </header>

    {% block content %}
    {% endblock %}

    <script src="/scripts.js"></script>

        </div>
        <footer>
                <p>Todos os direitos reservados, receitas Foodfy</p>
        </footer>
    </body>
</html>