{% extends 'layout.njk' %}

{% block head %}
    <title>{{item.title}} Foodfy</title>
    <link rel="stylesheet" href="/recipe.css">
{% endblock %}

{% block content %}

<section class="recipe">

    <div class="recipe_image">
        <img src="{{item.image}}" alt="Image of {{item.title}}">
    </div>

    <div class="recipe_title">
        <h1>{{item.title}}</h1>
    </div>
    <div class="recipe_author">
        <p>por {{item.author}}</p>
    </div>
    
    <div class="recipe_info">
        <h2>Ingredientes</h2>
        <a class="show">Esconder</a>
    </div>
        <ul class="info">
            {% for ingredient in item.ingredients %}
            <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
  
    <div class="recipe_info">
        <h2>Modo de preparo</h2>
        <a class="show">Esconder</a>
    </div>
        <ul class="info">
            {% for step in item.preparation %}    
            <li>{{step}}</li>
            {% endfor%}
        </ul>
  
    <div class="recipe_info">
        <h2>Informações adicionais</h2>
        <a class="show">Esconder</a>
    </div>
        <p class="info">{{item.information}}</p>
  
</section>

{% endblock %}