{% extends "../layouts.njk" %}

{% block head %}
    <title>{{recipe.title}}Foodfy</title>
    <link rel="stylesheet" href="/recipe.css">
{% endblock %}

{% block content %}

    <section class="recipe">
        <div class="container">
            <div class="header">
                <h1>Gerenciar receitas</h1>
                <button type="submit" onclick="window.location.href='/admin/recipes/{{recipes.id}}/edit'">Editar receita</button>
            </div>

            <div class="recipe_image">
                <img src="{{recipes.image}}" alt="Image of {{recipes.title}}">
            </div>

            <div class="recipe_title">
                <h1>{{recipes.title}}</h1>
            </div>
            <div class="recipe_author">
                <p>por
                    {{recipes.author}}</p>
            </div>

            <div class="recipe_info">
                <h2>Ingredientes</h2>
                <a class="show">Esconder</a>
            </div>
            <ul class="info">
                {% for ingredient in recipes.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>

            <div class="recipe_info">
                <h2>Modo de preparo</h2>
                <a class="show">Esconder</a>
            </div>
            <ul class="info">
                {% for step in recipes.preparation %}
                    <li>{{step}}</li>
                    {% endfor%}
                </ul>

                <div class="recipe_info">
                    <h2>Informações adicionais</h2>
                    <a class="show">Esconder</a>
                </div>
                <p class="info">{{recipes.information}}</p>
            </div>
        </section>

        <!-- SCRIPTS -->
        <script defer="defer" src="/scripts.js"></script>

    {% endblock %}