{% extends "admin/layouts.njk" %}

{% block content %}

    <form action="/admin/recipes" method="POST">
        <main>
            <div class="recipes">
                <div class="header">
                    <h1>Criar receitas</h1>
                    <button type="submit">Salvar receita</button>
                </div>
                {% include "./fields.njk" %}
            </div>
        </main>
    </form>

    <script src="/scripts.js"></script>

    {% endblock%}