{% extends "../layouts.njk" %}

{% block content %}

    <main>
        <div class="recipes">
            <div class="header">
                <h1>Editar receita</h1>
                <form action="/admin/recipes?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value="{{recipe.id}}">
                    <button class="delete-button" type="submit">Deletar</button>
                </form>
                
                <button form="save" type="submit">Salvar receita</button>

            </div>

                <form action="/admin/recipes?_method=PUT" method="POST" id="save" >
                    <input type="hidden" name="id" value="{{recipe.id}}">
                     {% include "./fields.njk" %}
                </form>
            
        </div>
    </main>

<script src="/scripts.js"></script>

{% endblock %}