{% extends "admin/layouts.njk" %}

{% block content %}

    <main>
        <div class="recipes">
            <h1>Gerenciar receitas</h1>
            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card">
                        <div>
                            <img src="{{recipe.image}}" alt="{{recipe.title}}">
                        </div>
                        <div>
                            <h1>{{recipe.title}}</h1>
                            <h2>por {{recipe.chef_name}}</h2>
                            <a href="/admin/recipes/{{recipe.id}}" class="link">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock content %}