{% extends 'layout.njk' %}

{% block content %}

    <div class="not-found">  
        <h1>Essa página não pode ser encontrada :/</h1>
        <p>Para voltar a página inicial, <a href="/">clique aqui</a>.</p>
    </div>

{% endblock%}