{% extends 'layout.njk' %}

{% block head %}
    <title>Receitas Foodfy</title>
    <link rel="stylesheet" href="/modal.css">
{% endblock %}

{% block content %}
 
    <section class="cards">
        {% for recipe in recipes %}
        <div class="card"> 
            <div class="card-image">
                <img src="{{recipe.image}}" alt="Image {{recipe.title}}">
            </div>
            <div class="card-title">
                <h1>{{recipe.title}}</h1>
            </div>
            <div class="card-author">
                <p>por {{recipe.author}}</p>
            </div>
        </div>
        {% endfor %}
    </section>
    
{% endblock %}